doctype html
html
    head
        title='hello.html'
    body
        p.greeting#people Hello world!!
        ul
            li
                a(src="http://google.com",href="") Google
        div.container (style="display: flex;justify-content: flex-end;")
            div.item1 foo
            div.item2 bar
            div.item3 baz
